.myinputs {
  margin-top: 10px;
  margin-left: 20px;
}

.myinputs1 {
  margin-right: 220px;
}

.margin-top {
  margin-top: 50px;
}

.margin-left {
  margin-left: 200px;
}

.margin-bottom {
  margin-bottom: 50px;
}
