{% extends "./header.html" %} {% block content %} {% load static %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href='{% static "/css/docs.css" %}' />
    <link rel="stylesheet" href='{% static "/css/checks.css" %}' />
  </head>
  </head>
  <body>
    <div class="container">
      <header class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="index.html"></a>
              <ul class="nav">
                <li class="active"><a href="{% url 'vulchecks' %}">Run Vulnerabilities check</a></li>
                <li><a href="#"></a></li>
                <li><a href="{% url 'vulresult' myhost %}">Script Result</a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
      </header>
      <div class="">
        <form method="post" action="{% url "runvuln" %}">
          {% csrf_token %}
          <div class="span3 bs-docs-sidebar myinputs1">
            <h3>Execute the script that allow you to identify the vulnerabilities on dockerd, runc, containerd</h3>
          </div>
          <div class="span3 bs-docs-sidebar myinputs1">
            <h3>Select hosts</h3>
            <!--Sidebar content-->
            <ul id="roleList" class="nav nav-list bs-docs-sidenav">
              {% for host in hosts %}
              <li class="active">
                <a href="#"><i class="icon-chevron-right"></i>
                  <div class="form-check form-switch">
                  <input class="form-check-input" name="checks1" type="checkbox" value="{{host.id}}">
                  {{host.hostname}}</div></a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="span3 bs-docs-sidebar myinputs1">
            <h3>Your root user and password to run ansible playbooks</h3>
            <!--Sidebar content-->
            <div class="form-outline mb-4">
              <label class="label1" for="loginName">user</label>
              <input
                type="text"
                name="user"
                id="user"
                class="form-control input_size input_margin"
              />
            </div>
            <div class="form-outline mb-4">
              <label class="label1" for="loginName">password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control input_size input_margin"
              />
            </div>
          </div>
          <div class="span3 bs-docs-sidebar margin-top">
                <button
                  type="submit"
                  class="
                    btn btn-secondary btn-block
                    mb-5
                    input_size input_margin
                  "
                >
                  <b>Run the script</b>
                </button>
          </div>
        </form>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="js/vendor/jquery-1.8.0.min.js"><\/script>'
        );
    </script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/js-yaml.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/main.roles.parser.js"></script>
    {% endblock %}
  </body>
